.Slider {
  display: grid;
  gap: 1rem;
  height: 100%;
  grid-template-columns: 3rem 1fr 3rem;
}
.disabled {
  opacity: 0;
  visibility: hidden;
}
.Slider__container:hover > * {
  cursor: pointer;
  transform: translate(-10%);
}
.Slider__container > *:hover ~ * {
  transform: translateX(10%);
}
.Slider__container > *:hover {
  z-index: 100;
  transform: scale(1.2) !important;
}
.Slider__container > * {
  background-color: rgb(0, 0, 0, 0.2);
  flex: 0 0 25%;
  margin: 0 1rem;
  transition: transform 300ms ease 100ms;
}
.Slider__arrow {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: var(--colour-primary-dark);
  font-size: 6rem;
  transition: background-color 0.4s;
}
.Slider__arrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.Slider__container {
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
  overflow-y: auto;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}
.Slider__container::-webkit-scrollbar {
  display: none;
}
@media (hover: none) {
  .Slider {
    grid-template-columns: 1fr;
  }
  .Slider__arrow {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  .Slider__container > * {
    flex: 0 0 15%;
  }
}
